body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 20px;
}

h1 {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

h2 {
    color: red;
    font-weight: bold;
    margin-left: 100px;
    font-size: 2em;
}

#table1 {
    width: 80vw;

    margin: auto;
    background-color: aquamarine;
}

p {
    line-height: 1.4em;
    font-size: 1.2rem;
}

#table1 td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;

}

#table1 img {
    height: 30vh;
}

.anime {
    width: 80%;
    margin: auto;
}

.anime thead {
    background-color: aquamarine;
}

.anime tbody {
    background-color: bisque;
}

.anime td {
    word-break: break-word;
}

#header_anime {
    text-align: center;
}

.form {
    max-width: 500px;
    margin: 20px auto;
}

.form_group {
    margin-bottom: 12px;
}

.form_group label {
    margin-bottom: 5px;
    font-size: 16px;
}

.form_input {
    border: 2px solid gray;
    border-radius: 5px;
    width: 50%;
    padding: 2px;
}

.btn {
    padding: 10px 16px;
    background: darkgray;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
    font-size: 20px;
}

.btn:hover {
    opacity: 0.7;
}

h3 {

    text-align: center;
}